@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Additional css resets by Kevin Powell
 * @see https://youtu.be/cCAtD_BAHNw?si=ABmG7Mrz9_9-iAEp 
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  /* max-width: 75ch; */
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  /* or html */
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }
}

/** 
 * Some sensible defaults for img by Harry Roberts
 * @see https://twitter.com/csswizardry/status/1717841334462005661
 *      https://csswizardry.com/2023/09/the-ultimate-lqip-lcp-technique/
 */

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

/**
  * Inter Font by Rasmus Andersson
  * @see https://rsms.me/inter/
  */

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1,
    'ss03' 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
